.container {
  padding: 0 150px; //padding 0 10px na mobil
  display: flex;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 15px; //padding 0 10px na mobil
  }
}
