<div class="container" [style.color]="isDone ? '#6c6c6c' : '#FFFFFF'">
  <div class="title">
    {{title}}
  </div>
  <div class="text">
    <span>{{text}}</span>
  </div>
  <div class="checkbox">
    <mat-checkbox [(ngModel)]="isDone" (change)="onMarkAsDone(id, $event.checked)"></mat-checkbox>
  </div>
  <div class="until">
    {{until + '000' | date: 'MMMM d, y'}}
  </div>
  <div class="delete">
    <button mat-icon-button (click)="onDelete(id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
