/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1e1e1e;
  width: 100vw;
  height: 100vh;
}

.toast {
  opacity: 1 !important;
}
