:host {
  margin: auto;
}

.container {
  padding-top: 100px;
  width: 300px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;

  .add-button {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .text {
    margin: 0 auto;
    margin-bottom: 20px;
    span {
      font-size: 24px;
      color: white;
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

}
