:host {
  margin: auto;
}

.container {
  padding-top: 100px;
  width: 300px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;

  .add-button {
    margin: 0 auto;
    margin-bottom: 20px;

    .mat-icon {
      transform: translateY(-1px);
    }
  }

  .text {
    margin: 0 auto;
    margin-bottom: 20px;

    span {
      font-size: 24px;
      color: white;
    }
  }
}

.add-text {
  margin-bottom: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  .mat-form-field {
    margin-bottom: 4px;
  }
}


@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

}
