:host {
  margin: auto;
}

.container {
  padding-top: 100px;
  width: 700px; //width auto pre mobil
  max-width: 700px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;

  .add-button {
    margin: 0 auto;
    .back {
      margin-right: 4px;
    }
  }
}

.legend-row {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  color: white;

}

.title {
  margin: auto;
  width: 20%
}

.text {
  margin: auto;
  width: 55%;
}

.checkbox {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 5%;
  padding: 0 20px;

  ::ng-deep .mat-checkbox-frame {
    border-color: white
  }
}

.until {
  margin: auto;
  width: 20%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.datepicker {
  transform: translateY(30px);
}

mat-label {
  transform: translateY(30px);
}

.mat-datepicker-toggle {
  display: flex;
  justify-content: end;
}

.add-text {
  margin-bottom: 15px;
}

.category {
  margin: auto;
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}


@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .delete {
    margin-left: 5px;
  }
}


