:host {
  margin: auto;
}

.container {
  padding-top: 100px;
  width: 700px; //width auto pre mobil
  max-width: 700px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;

  .filter {
    margin: 0 auto 5px auto;
    transform: translateX(10px);
    ::ng-deep .mat-form-field-label {
      /*change color of label*/
      color: white !important;
    }
    ::ng-deep.mat-form-field-underline {
      /*change color of underline*/
      background-color: white !important;
    }
    ::ng-deep.mat-form-field-ripple {
      /*change color of underline when focused*/
      background-color: white !important;
    }
    .mat-input-element {
      color: white;
    }
    .mat-icon {
      color: white;
    }
  }

  .add-button {
    margin: 0 auto;
    margin-bottom: 15px;

    .mat-icon {
      transform: translateY(-1px);
    }

    .plus {
      margin: 0 5px;
    }
  }
}

.legend-row {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  color: white;

}

.title {
  margin: auto;
  width: 20%
}

.text {
  margin: auto;
  width: 55%;
}

.checkbox {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 5%;
  padding: 0 20px;

  ::ng-deep .mat-checkbox-frame {
    border-color: white
  }
}

.until {
  margin: auto;
  width: 20%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.datepicker {
  transform: translateY(30px);
}

mat-label {
  transform: translateY(30px);
}

.mat-datepicker-toggle {
  display: flex;
  justify-content: end;
}

.add-text {
  margin-bottom: 15px;
}

.category {
  margin: auto;
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}

.empty-container {
  width: 100%;
  display: flex;
  justify-content: center;

  span {;
    color: white;
    font-size: 32px;
  }
}


@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .delete {
    margin-left: 5px;
  }

  .empty-container {
    span {;
      font-size: 24px;
    }
  }
}


