<div class="container">
  <div class="add-button">
    <button mat-mini-fab color="primary" class="back" [routerLink]="['/']">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="openTempDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="legend-row">
    <div class="title">
      TITLE
    </div>
    <div class="text">
      <span>TEXT</span>
    </div>
    <div class="checkbox">
      DONE
    </div>
    <div class="until">
      UNTIL
    </div>
  </div>
  <ng-container *ngFor="let item of openedCategory?.toDoList">
    <app-to-do-item [title]="item?.title!"
    [text]="item?.text!" [until]="item?.doUntil!"></app-to-do-item>
  </ng-container>
</div>

<ng-template #dialogRef>
  <form>
    <div class="form-container">
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput placeholder="title">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Text</mat-label>
        <input matInput placeholder="text">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Do until</mat-label>
        <input matInput placeholder="do until">
      </mat-form-field>
      <button mat-raised-button color="primary">Add</button>
    </div>
  </form>
</ng-template>
